*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  animation: none !important;
  transition: none !important;
}

.form-group {
  border: 1px solid #cccccc;
}

.user-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  height: 550px;

  border: 2px solid blue;
}

.error {
  padding: 8px 12px 0;
  font-size: 12px;
  color: #C10015;
}
