*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  animation: none !important;
  transition: none !important;
}

.form-wrapper {
  width: 300px;

  > p {
    min-height: 60px;
  }
}

.form-user {
  display: flex;
  flex-direction: column;
  min-height: 300px;
}

.error-txt {
  padding: 8px 12px 0;
  font-size: 12px;
  color: #C10015;
}
