*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  animation: none !important;
  transition: none !important;
}

.form-wrapper {
  width: 400px;

  > p {
    min-height: 60px;
  }
}

.form-user {
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.title {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: #3CB371;
}

.subtitle {
  font-size: 12px;
  font-style: italic;
  color: #2E2E2E;
}

.error {
  padding: 8px 12px 0;
  font-size: 12px;
  color: #C10015;
}
